{% load static %}

<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'myfirst.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam">
<body>
<title>Aria's Characters</title>
<h1>Characters</h1>
<p><a href="/">Back to home page</a></p>
<p><a href="/muse">Muse info</a></p>
<style>
  .container {
    display: flex;
    align-items: center;
  }

  .container p {
    margin-right: 10px;
  }
</style>
<div class="container">
  <p>Age minimum in years, age must be greater than or equal to the number entered - </p>
<input type="text" id="age_minimum" placeholder="Age Minimum" value=""><br>
</div>
<div class="container">
<p>Age maximum in years, age must be less than or equal to the number entered - </p>
<input type="text" id="age_maximum" placeholder="Age Maximum" value="">
</div>
<div class="container">
<p>Gender selection. Non-binary covers all characters with genders not related to femininity or masculinity -
<select name="gender" id="gender">
  <option value="BLANK">Any</option>
  <option value="Masculine-aligned">Masculine-aligned</option>
  <option value="Feminine-aligned">Feminine-aligned</option>
  <option value="Female">Female</option>
  <option value="Male">Male</option>
  <option value="Non-binary">Non-binary</option>
</select></p>
</div>
<div class="container">
<p>Role selection - </p>
<select name="roles" id="roles">
  <option value="ANY">Any</option>
  <optgroup label="Subjects">
    <option value="ANYSUBJECT">All Subjects</option>
    <option value="Docile">Docile</option>
    <option value="Lahde">Lahde</option>
    <option value="Cronus">Cronus</option>
    <option value="Halcyon">Halcyon</option>
    <option value="Nonviable">Nonviable</option>
  </optgroup>
  <optgroup label="Staff">
    <option value="ANYSTAFF">All Staff</option>
    <option value="Scientist">Scientist</option>
    <option value="Medical Staff">Medical Staff</option>
    <option value="Intern">Intern</option>
  </optgroup>
</select>
</div>
<div class="container">
  <p>Species selection, "human" will give all humans whether they have magic or not -
<select name="species" id="species">
  <option value="ANY">Any</option>
  <option value="Human">Human</option>
  <option value="Non-Magical Human">Non-Magical Human</option>
  <option value="Magical Human">Magical Human</option>
  <option value="Kitsune">Kitsune</option>
  <option value="Angel">Angel</option>
  <option value="Dragon">Dragon</option>
  <option value="Fairy">Fairy</option>
  <option value="Hybrid">Hybrid</option>
  <option value="Other">Other</option>
</select></p>
</div>
<div class="container">
  <p>Orientation selection. Bisexual (F+X) means that character is attracted to both females and gender neutral/non-binary people -
<select name="orientation" id="orientation">
  <option value="ANY">Any</option>
  <option value="Toric">Toric</option>
  <option value="Homoflexible">Homoflexible</option>
  <option value="Lesbian">Lesbian</option>
  <option value="Straight">Straight</option>
  <option value="Bisexual (F+M)">Bisexual (F+M)</option>
  <option value="Bisexual (F+X)">Bisexual (F+X)</option>
  <option value="Pansexual">Pansexual</option>
  <option value="Aroace">Aroace</option>
  <option value="Heteroflexible">Heteroflexible</option>
  <option value="Other">Other</option>
</select></p>
</div>
<div class="container">
  <p>
    Allosexuality selection. Didn't quite get the meaning of allosexuality right, but dunno what else to call it. Yes means that the character has "normal" levels of sexual attraction, no means that the
    character is on the ace spectrum -
    <select name="allosexual" id="allosexual">
      <option value="ANY">Any</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </p>
</div>
<div class="container">
  <p>
    Muse selection, the one you select is the minimum -
    <select name="muse" id="muse">
      <option value=1>Red</option>
      <option value=2>Orange</option>
      <option value=3>Yellow</option>
      <option value=4>Green</option>
      <option value=5>Blue</option>
    </select>
  </p>
</div>
<div class="container">
    <p>
        Submission status. Not super sure about Sycamore and Lilac, but I think the rest are accurate -
        <select name="submitted" id="submitted">
            <option value="ANY">Any</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </p>
</div>
<button onclick="filterCharacters()">Filter</button>
<h2>character results!</h2>
<!-- Display results -->
<ul id="character_list"></ul>
<!-- embed the JSON data -->
{{ mycharacters|json_script:"characters_data" }}
<ul>
  <script>

const includedSpeciesList = ["Human", "Magical Human", "Kitsune", "Angel", "Dragon", "Fairy", "Hybrid","Moonling"]
const includedOrientationList = ["Toric","Homoflexible","Lesbian","Straight","Bisexual (F+M)","Bisexual (F+X)","Pansexual","Aroace","Heteroflexible"]
function filterCharacters() {
  const characters = JSON.parse(document.getElementById('characters_data').textContent);
  const minAge = parseInt(document.getElementById('age_minimum').value) || 0;
  const maxAge = parseInt(document.getElementById('age_maximum').value) || 100000;
  const genderSelected = document.getElementById('gender').value;
  const roleSelected = document.getElementById('roles').value;
  const speciesSelected = document.getElementById('species').value;
  const orientationSelected = document.getElementById('orientation').value;
  const allosexualSelected = document.getElementById('allosexual').value;
  const museSelected = document.getElementById('muse').value;
  const submittedSelected = document.getElementById('submitted').value;
  let filteredList = characters.filter(c => c.age >= minAge && c.age <= maxAge);
  if (genderSelected != "BLANK") {
    filteredList = filteredList.filter(c => c.gender == genderSelected);
  }
  if (roleSelected != "ANY") {
    if (roleSelected == "ANYSTAFF") {
      filteredList = filteredList.filter(c => c.role == "Staff");
    } else if (roleSelected == "ANYSUBJECT") {
      filteredList = filteredList.filter(c => c.role == "Subject");
    } else {
      filteredList = filteredList.filter(c => c.specificRole == roleSelected);
    }
  }
  if (allosexualSelected != "ANY") {
    if (allosexualSelected == "Yes") {
      filteredList = filteredList.filter(c => c.allosexual == true)
    } else {
      filteredList = filteredList.filter(c => c.allosexual == false)
    }
  }
  if (orientationSelected != "ANY") {
    if (orientationSelected == "Other") {
        filteredList = filteredList.filter(c => !includedOrientationList.includes(c.orientation))
    } else {
        filteredList = filteredList.filter(c => c.orientation == orientationSelected);
    }
  }
  if (speciesSelected != "ANY") {
    if (speciesSelected == "Non-Magical Human") {
      filteredList = filteredList.filter(c => c.species == "Human");
    } else if (speciesSelected == "Human") {
      filteredList = filteredList.filter(c => c.species == "Human" || c.species == "Magical Human");
    } else if (speciesSelected == "Other") {
      filteredList = filteredList.filter(c => !includedSpeciesList.includes(c.species))
    } else {
      filteredList = filteredList.filter(c => c.species == speciesSelected);
    }
  }
  filteredList = filteredList.filter(c => c.muse >= museSelected);
  if (submittedSelected != "ANY") {
    if (submittedSelected == "Yes") {
      filteredList = filteredList.filter(c => c.submitted == true)
    } else {
      filteredList = filteredList.filter(c => c.submitted == false)
    }
  }
  const list = document.getElementById('character_list'); // google where it gets this from and how
  list.innerHTML = '';

  filteredList.map(c => {
    list.innerHTML += `<li>${c.fullname} - ${c.role} (${c.specificRole}) - <a href="/details/${c.fullname}">link</a></li>`;
  }).join('');
}
filterCharacters();
  </script>
</ul>

</body>
</html>
