{% load static %}

<!DOCTYPE html>
<title>Muse Levels</title>
<html>
  <link rel="stylesheet" href="{% static 'myfirst.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
<body>

<h1>Muse</h1>
<p><a href="/character_data/">Back to character search</a></p>
<p>Hello! Here's some information about the muse levels I use on this website.</p>

<p>🔴 - Red muse. This means that if I had to start all over again, I wouldn't be too quick to submit this character. Please don't ask to roleplay with them, the only reason
    I don't drop these is so I don't have to go through the submission process again.
</p>
<p>🟠 - Orange muse. This means that my muse with this character isn't super high, but I still vibe with them. Please don't ask to roleplay with them, if I feel inspired enough
    to use them for a certain scenario, I'll probably bring it up. I normally write about a paragraph with these characters.
</p>
<p>🟡 - Yellow muse. Generally good for most roleplays. With these characters, it really depends on the scenario. Sometimes I'll be happy to write two paragraphs, sometimes
    I'm just not feeling it. In general, feel free to ask about these though!
</p>
<p>🟢 - Green muse. High muse, would love to use them! They're good for literate roleplays and I'll rarely say no to using one of these. I can control how much I write with
    these characters and generally enjoy using.
</p>
<p>🔵 - Blue muse. Do not roleplay with these characters if you are not prepared for regular two or more discord message replies. Jokes aside, I ABSOLUTELY LOVE THESE
    CHARACTERS. PLEASE I AM BEGGING YOU ROLEPLAY WITH THEM.
</p>