body {
    background-color: black;
    color: white;
    font-family: verdana;
}
h1 {
    color: lime;
    font-family: "Noto";
}
h2 {
    color: lime;
    font-family: "Kalam";
}
p {
    color: white;
}
input, select {
    background-color: LawnGreen;
}
/* Hi please make sure you get some fun fonts */