body {
    background-color: black;
    font-family: verdana;
}
h1 {
    color: lime;
    font-family: "Noto", sans-serif; 
}
p {
    color: white;
}
/* Hi please make sure you get some fun fonts */