{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'avg_smogon.css' %}">
<body>

<p>this wont work unless i pay for pythonanywhere but the actual script is on my github</p>

<form action="{% url 'my_smogon_script' %}" method="post">
    {% csrf_token %}
    <input type="text" name="pokemon_input" placeholder="Enter something" required>
    <button type="submit">Click to Calculate Average Format</button>
</form>
<br><br>
{% if result %}
{% for tier, count in result.items %}
<p>{{ tier }} in {{ count }} generations</p>
<br>
{% endfor %}
{% endif %}
<!-- i need to manage that hey, when you load this page, nothin gonna be there. i do think thats the problem! -->
</body>
</html>